/* ==Userstyle==
@name           Kissneo
@namespace      github.com/bananaahammock/kissneo
@version        0.0.1
@description    A Dark Kiss Anime UserStyle
@author         bananaahammock
==/UserStyle== */

@-moz-document domain("kissanime.ru"),
domain("kissmanga.com") {

	:root {
		--background: #232A34 !important;
		--background2: #29313D !important;
		--primary-color: #A366AF !important;
        --secondary-color: #28C6EA !important;
		--text: #E0E0E0 !important;
		--invert: invert(0) !important;
        
        --logo: 
            
	}

	* {
		font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
	}

	::selection {
		background: var(--primary-color) !important;
		color: var(--text) !important;
	}
	::-moz-selection {
		background: var(--primary-color) !important;
		color: var(--text) !important;
	}

	a {
		outline-color: var(--primary-color) !important;
	}

	html,
	body {
		background: var(--background) !important;
		color: var(--text) !important;
	}

	#divFloatLeft, #tab-trending > div:nth-child(1), #divAds, #divAds1, #divAds2, #divFloatRight, #adsIfrme6,                   
    div.divCloseBut, #adsIfrme0, #adsIfrme1, #adsIfrme2, #adsIfrme3, #adsIfrme4, #adsIfrme5, #adsIfrme6, 
    #adsIfrme7, #adsIfrme8, #adsIfrme10, #videoAd, #switch > img:nth-child(1), .videoAdClose, [id*="BB_S"], div[class^="#ads-"], 
    div[class*=" #ads-"], [class^="#ads-"], [class*=" #ads-"], .arrow-general,
	a[href*="bebi"],
	[style*="visibility: visible; height:768px; width: 336px; position:absolute;"],
	[style*="width: 100%; height: 768px; position: fixed;"],
	[style*="width:100%;height:768px;position:fixed;left:0"],
    [style*="margin: 10px 48px 10px 0"],
    [style*="position: absolute; left: 50%;"]   {
		display: none !important;
	}
    
	#footer
	{
		display: none !important;
	}
	
	/* HEADER */
    
    #head h1
	{
	    background: no-repeat url("https://raw.githubusercontent.com/BananaaHammock/kissneo/master/header.jpg") center !important;
		background-size: cover !important;
		width: 100% !important;
        height: 200px !important;
        position: absolute !important;
        left: 0px !important;
        top: -10px !important;
        border-top: 3px solid transparent !important;
        border-image: linear-gradient(315deg, #B648FF, #5CD1F7);
        border-image-slice: 1;
	}

    #head h1 a.logo {
        background: no-repeat url("https://raw.githubusercontent.com/BananaaHammock/kissneo/master/logo.png") center !important;
        width: 80% !important;
        height: 100% !important;
        margin-top: 0px !important;
        margin-left: 20px !important;
    }
    
   #navbar {
        background: transparent !important;
    }

    #navcontainer {
        display: none !important;
    }

    #navsubbar {
        background: var(--background2) !important;
        padding: 15px 0px !important;
        position: absolute !important;
        margin-top: 77px !important;
        height: 10px !important;
    }

    #navsubbar p {
        color: transparent !important;
        background-color: var(--background2)
    }

    #navsubbar p a {
        font-size: 12pt !important;
        font-weight: 300;
        color: var(--secondary-color) !important;
        line-height: 15pt !important;
        max-width: 40% !important;
        overflow: hidden
    }

    #navsubbar p a:nth-of-type(1) {
        position: absolute !important;
        left: 16px !important;
    }

    #navsubbar p a:nth-of-type(2) {
        position: absolute !important;
        left: 140px !important;
    }

    #navsubbar p a:nth-of-type(3) {
        position: absolute !important;
        left: 280px !important;
        }

    #navsubbar p a:nth-of-type(4) {
        position: absolute !important;
        left: 410px !important;
    }

    #navsubbar p a:nth-of-type(5) {
        position: absolute !important;
        left: 540px !important;
    }

	#search {
		position: absolute !important;
		top: 200px !important;
		right: 16px !important;
		z-index: 999 !important;
	}

    #search a[href="http://kissanime.ru/AdvanceSearch"] {
        display: none !important;
    }
    
    #keyword {
        width: 200px !important;
    }
    
    #result_box a span, #formSearch > div:nth-child(4) > a:nth-child(1):hover {
        color: var(--background) !important;
    }
    
    #formSearch > div:nth-child(4) > a:nth-child(1) {
        color: var(--secondary-color) !important;
    }
    
    input.text, .txtSignUp {
        margin: 0px !important;
        color: var(--secondary-color) !important;
        background: var(--background2) !important;
        
    }
	input.text:focus, input.text:active, input.text:hover, .txtSignUp:hover, .txtSignUp:active, .txtSignUp:focus
	{
		border: 1px solid var(--primary-color) !important;
	}
    
    #result_box {
        margin-top: 10px !important;
        margin-left: 145px !important;
        opacity: 1 !important;
        width: 198px !important;
        overflow: hidden !important;
        background: var(--background) !important;
    }
    
    #result_box a {
        position: static !important;
    }
    
    #result_box a:hover {
        background: var(--secondary-color) !important;
    }
    
    #search input.button, #formSearch > div:nth-child(4) > a:nth-child(1) > img:nth-child(1) {
        display: none !important;
    }
    
    #loader {
        background: no-repeat url(https://i.imgur.com/tL0UxQO.png) center !important;
        height: 75px !important;
        width: 75px !important;
        margin: 50px 100px 250px 50px !important;
        opacity: 0.5 !important;
    }
    
    
    
	.bigBarContainer {
		background: transparent;
        border: 0px !important;
        text-align: center !important;
    }
    
    div[style*="width: 970px; text-align: center; margin: auto"] {
        background: var(--background) !important;
        border-color: transparent !important;
        margin: 80px 0px 5px 0px !important;
        width: 100% !important;
        text-align: center !important;
    }
    
    
    .barContent > div > div:nth-of-type(8) {
        display: none !important;
    }
    
    
    #btnShowComments {
        background: var(--background2) !important;
        border: 0px !important;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #my_video_1 {
        border-top: 10px var(--background2) solid !important;
        border-left: 10px var(--background2) solid !important;
        border-right: 10px var(--background2) solid !important;
        margin: -80px 0px 0px 0px !important;
    }
    
    #switch {
        position: absolute !important;
        top: 219px !important;
        right:270px !important;
        z-index:999 !important;
        color: var(--primary-color) !important;
    }
    
    
/* VIDEO PLAYERS */
    
    .vjs-play-progress, .vjs-volume-level {
        background: linear-gradient(315deg, #B648FF, #5CD1F7) !important;
    }
    .vjs-progress-control vjs-control {
        height: 30px !important;
    }
    .vjs-control-bar {
        background: var(--background2) !important;
    }
    
}
