/* ==Userstyle==
@name           neokiss
@namespace      github.com/bananahammock/neokiss
@version        0.0.1
@description    kissanime/kissmanga userstyle
@author         bananahammock
==/UserStyle== */

@-moz-document domain("kissanime.ru"),
domain("kissmanga.com") {

	:root {
		--background: #232A34 !important;
		--background2: #29313D !important;
		--primary-color: #A366AF !important;
		--text: #E0E0E0 !important;
		--invert: invert(0) !important;
        
        --logo: 
            
	}

	* {
		font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
	}

	::selection {
		background: var(--primary-color) !important;
		color: var(--text) !important;
	}
	::-moz-selection {
		background: var(--primary-color) !important;
		color: var(--text) !important;
	}

	a {
		outline-color: var(--primary-color) !important;
	}

	html,
	body {
		background: var(--background) !important;
		color: var(--text) !important;
	}

	#divFloatLeft, #tab-trending > div:nth-child(1), #divAds, #divAds1, #divAds2, #divFloatRight, #adsIfrme6,                   
    div.divCloseBut, #adsIfrme0, #adsIfrme1, #adsIfrme2, #adsIfrme3, #adsIfrme4, #adsIfrme5, #adsIfrme6, 
    #adsIfrme7, #adsIfrme8, #adsIfrme10, #videoAd, .videoAdClose, [id*="BB_S"], div[class^="#ads-"], 
    div[class*=" #ads-"], [class^="#ads-"], [class*=" #ads-"],
	a[href*="bebi"],
	[style*="visibility: visible; height:768px; width: 336px; position:absolute;"],
	[style*="width: 100%; height: 768px; position: fixed;"],
	[style*="width:100%;height:768px;position:fixed;left:0"] {
		display: none !important;
	}
    
    #tab-trending > div:nth-child(2) {
        display: none !important;
    }

	#footer
	{
		display: none !important;
	}
	
	/* HEADER */
    
    #head h1
	{
	    background: no-repeat url("https://i.imgur.com/gTGC3lu.jpg") center !important;
		background-size: cover !important;
		width: 100% !important;
        height: 200px !important;
        z-index: 999 !important;
        position: absolute !important;
        left: 0px !important;
        border-top: 3px solid transparent;
        -moz-border-image: -moz-linear-gradient(315deg, #B648FF, #5CD1F7) center !important;
        -webkit-border-image: -webkit-linear-gradient(315deg, #B648FF, #5CD1F7) center !important;
        border-image: linear-gradient(315deg, #B648FF, #5CD1F7);
        border-image-slice: 1;
	}

    
    #head h1 a.logo {
        background: no-repeat url("https://i.imgur.com/2xpe5Kg.png") center !important;
        width: 80% !important;
        height: 100% !important;
        margin-top: 0px !important;
        margin-left: 20px !important;
    }
    
    #navbar {
        background: no-repeat url("https://i.imgur.com/lMunmdM.png") left !important;
        background-size: cover !important;
        width: 10% !important;
        left: 0px
    }

}